.formulario{
    float: left;
    margin-left: 20px;
}


.lista {
    float: left;
    margin-top: -50px;
    margin-left: 20px;
}

.lista > ul > li {
    margin-top: 15px;
    margin-left: -12%;
}

button{
    margin: 5px;
}